@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Noto+Sans:ital@0;1&display=swap');

body,
html {
  width: 100%;
  height: 100%;
}

.app *:before,
.app *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  position: relative;
  margin: auto;
  box-sizing: border-box;
}
