<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body style="margin: 0; padding: 0">
  <div id="<%= htmlWebpackPlugin.options.id %>"></div>
</body>

</html>
